# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Python
* R 
* SQL

Some of the popular languages that Data Scientists use are:

1. Python
1. R
1. Swift

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
1. SciPy
1. Pandas

| --- |
| Data Science Tools |
| --- |
| Spyder |
| Jupyterlab |
| Visual Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
### Tejeswini A